.container {
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.834);
  transition: 500ms width linear;
  display: none;
}

.openMenu {
  /* width: 200px; */
  display: block;
}